@model PessoaJuridica

<h1>@Model.CNPJ</h1>
<hr />
<small><a href="/PessoaJuridica">Voltar</a></small>

<div class="alert alert-primary" >
  Saldo da conta: @Model.ContaCorrente.Saldo
</div>
<p><strong>Nº da Conta:</strong> @Model.ContaCorrente.NumeroDaConta</p>
<br />
<p><strong>Endereço</strong>: @Model.Endereco</p>
<p><strong>Razão Social:</strong> @Model.RazaoSocial</p>

<form method="post" asp-action="Deletar" asp-route-cpf="@Model.CNPJ">
    <input type="submit" class="btn btn-danger" value="Excluir" />
</form>